<a href="https://colab.research.google.com/github/mcreelma/Snow_Probes/blob/main/Mesa_Dump_Reader.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import Packages

In [1]:
! pip install geopandas
import geopandas as gpd
import glob
from google.colab import drive
import matplotlib.pyplot as plt
import os
import pandas as pd

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting geopandas
  Downloading geopandas-0.10.2-py2.py3-none-any.whl (1.0 MB)
     |████████████████████████████████| 1.0 MB 5.0 MB/s
Collecting fiona>=1.8
  Downloading Fiona-1.8.22-cp37-cp37m-manylinux2014_x86_64.whl (16.7 MB)
     |████████████████████████████████| 16.7 MB 429 kB/s
Collecting pyproj>=2.2.0
  Downloading pyproj-3.2.1-cp37-cp37m-manylinux2010_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 31.0 MB/s
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.8.5.post1)
Requirement already satisfied: pandas>=0.25.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.3.5)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (22.1.0)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.15.0)
Collecting munch
  Downloading munch-2.5.0-py2.py3-none-any.whl (10 kB)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (57.4.0)
Collecting click-plugins>=1.0
  Downloading click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (7.1.2)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2022.9.24)
Collecting cligj>=0.5
  Downloading cligj-0.7.2-py3-none-any.whl (7.1 kB)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2022.6)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2.8.2)
Installing collected packages: munch, cligj, click-plugins, pyproj, fiona, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.7.2 fiona-1.8.22 geopandas-0.10.2 munch-2.5.0 pyproj-3.2.1

# Mount Drive

In [2]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Go to the specific file location

In [3]:
os.chdir('drive/MyDrive/MESA2_DUMP_20221015/SnowEx1/Reports/')
!ls

 Banner20jan2021.xlsx  'Bull 20200219.xlsx'	   MoresCrk.xlsx
 Banner27feb2020.xlsx  'Bull trout 2192020.xlsx'   TreelineB20220128.xlsx
 Bogus20200220.xlsx     GM20.xlsx
 Bogus.xlsx	        Ldp21feb2020.xlsx

# Read all .xlsx files

In [4]:
path = os.getcwd()
csv_files = glob.glob(os.path.join(path, "*.xlsx"))
df = pd.DataFrame()
# loop over the list of csv files
for f in csv_files:
    # read using pandas
    ds = pd.read_excel(f)
    
    # create label for where it came from
    ds['Source'] = 'SnowEx1'

    # append to new dataframe 
    df = df.append(ds, ignore_index = True)


# check
display(df)

,Depth,Name,Description,Location,Latitude,Longitude,Altitude (ft),Accuracy (ft),Attachment,Date/Time,User,Source
0,136,Snow Depth 3166,NaN,"44.304410°, -115.236476°",44.304410,-115.236476,7094.67,NaN,NaN,3/18/2021 3:11 PM,NaN,SnowEx1
1,130,Snow Depth 3165,NaN,"44.304328°, -115.236566°",44.304328,-115.236566,7093.28,NaN,NaN,3/18/2021 3:10 PM,NaN,SnowEx1
2,130,Snow Depth 3164,NaN,"44.304064°, -115.236652°",44.304064,-115.236652,7089.20,NaN,NaN,3/18/2021 3:09 PM,NaN,SnowEx1
3,148,Snow Depth 3163,NaN,"44.303959°, -115.236645°",44.303959,-115.236645,7086.51,NaN,NaN,3/18/2021 3:08 PM,NaN,SnowEx1
4,152,Snow Depth 3162,NaN,"44.303661°, -115.236575°",44.303661,-115.236575,7088.60,NaN,NaN,3/18/2021 3:07 PM,NaN,SnowEx1
...,...,...,...,...,...,...,...,...,...,...,...,...
4237,45,Snow Depth 3130,NaN,"43.731056°, -116.139570°",43.731056,-116.139570,5342.53,NaN,NaN,1/28/2022 2:37 PM,NaN,SnowEx1
4238,49,Snow Depth 3129,NaN,"43.731100°, -116.139537°",43.731100,-116.139537,5343.47,NaN,NaN,1/28/2022 2:36 PM,NaN,SnowEx1
4239,42,Snow Depth 3128,NaN,"43.731148°, -116.139558°",43.731148,-116.139558,5344.17,NaN,NaN,1/28/2022 2:32 PM,NaN,SnowEx1
4240,599,Snow Depth 3127,NaN,"43.679280°, -116.271058°",43.679280,-116.271058,2683.35,NaN,NaN,1/27/2022 8:33 PM,NaN,SnowEx1
4241,599,Snow Depth 3126,NaN,"43.679257°, -116.271046°",43.679257,-116.271046,2678.42,NaN,NaN,1/27/2022 8:20 PM,NaN,SnowEx1

# Change the directory to the second snowex file

In [5]:
os.chdir('..')
os.chdir('..')
os.chdir('SnowEx2/Reports')
!ls

Bogus.Drycreek.xlsx  BullTrout2.xlsx  Mcs17feb.kml  Mcs17feb.xlsx
Bogus.xlsx	     GM2020.xlsx      Mcs17feb.pdf  Treeline20220128.xlsx

# Repeat for SnowEx2

In [6]:
path = os.getcwd()
csv_files = glob.glob(os.path.join(path, "*.xlsx"))
df2 = pd.DataFrame()
# loop over the list of csv files
for f in csv_files:
    # read using pandas
    ds = pd.read_excel(f)
    
    # create label for where it came from
    ds['Source'] = 'SnowEx2'

    #Using drop() to delete rows based on column value
    ds.drop(ds[ds['Latitude'] <= 1 ].index, inplace = False)

    # append to new dataframe 
    df = df.append(ds, ignore_index = True)



# check
display(df)

,Depth,Name,Description,Location,Latitude,Longitude,Altitude (ft),Accuracy (ft),Attachment,Date/Time,User,Source
0,136,Snow Depth 3166,NaN,"44.304410°, -115.236476°",44.304410,-115.236476,7094.67,NaN,NaN,3/18/2021 3:11 PM,NaN,SnowEx1
1,130,Snow Depth 3165,NaN,"44.304328°, -115.236566°",44.304328,-115.236566,7093.28,NaN,NaN,3/18/2021 3:10 PM,NaN,SnowEx1
2,130,Snow Depth 3164,NaN,"44.304064°, -115.236652°",44.304064,-115.236652,7089.20,NaN,NaN,3/18/2021 3:09 PM,NaN,SnowEx1
3,148,Snow Depth 3163,NaN,"44.303959°, -115.236645°",44.303959,-115.236645,7086.51,NaN,NaN,3/18/2021 3:08 PM,NaN,SnowEx1
4,152,Snow Depth 3162,NaN,"44.303661°, -115.236575°",44.303661,-115.236575,7088.60,NaN,NaN,3/18/2021 3:07 PM,NaN,SnowEx1
...,...,...,...,...,...,...,...,...,...,...,...,...
6462,95,Snow Depth 1936,NaN,"43.737324°, -116.122612°",43.737324,-116.122612,6071.29,0.73,NaN,2/4/2022 2:45 PM,NaN,SnowEx2
6463,100,Snow Depth 1935,NaN,"43.737322°, -116.122619°",43.737322,-116.122619,6074.03,0.60,NaN,2/4/2022 2:43 PM,NaN,SnowEx2
6464,100,Snow Depth 1945,NaN,"43.747420°, -116.110559°",43.747420,-116.110559,6272.08,0.72,NaN,3/4/2022 1:26 PM,NaN,SnowEx2
6465,107,Snow Depth 1934,NaN,"43.737311°, -116.122642°",43.737311,-116.122642,6072.15,0.60,NaN,2/4/2022 2:43 PM,NaN,SnowEx2
6466,599,Snow Depth 1904,NaN,"43.679248°, -116.271059°",43.679248,-116.271059,2678.55,1.94,NaN,1/27/2022 8:19 PM,NaN,SnowEx2

In [7]:
df = df[df.Latitude > 1 ]  
df.reset_index()

,index,Depth,Name,Description,Location,Latitude,Longitude,Altitude (ft),Accuracy (ft),Attachment,Date/Time,User,Source
0,0,136,Snow Depth 3166,NaN,"44.304410°, -115.236476°",44.304410,-115.236476,7094.67,NaN,NaN,3/18/2021 3:11 PM,NaN,SnowEx1
1,1,130,Snow Depth 3165,NaN,"44.304328°, -115.236566°",44.304328,-115.236566,7093.28,NaN,NaN,3/18/2021 3:10 PM,NaN,SnowEx1
2,2,130,Snow Depth 3164,NaN,"44.304064°, -115.236652°",44.304064,-115.236652,7089.20,NaN,NaN,3/18/2021 3:09 PM,NaN,SnowEx1
3,3,148,Snow Depth 3163,NaN,"44.303959°, -115.236645°",44.303959,-115.236645,7086.51,NaN,NaN,3/18/2021 3:08 PM,NaN,SnowEx1
4,4,152,Snow Depth 3162,NaN,"44.303661°, -115.236575°",44.303661,-115.236575,7088.60,NaN,NaN,3/18/2021 3:07 PM,NaN,SnowEx1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6344,6462,95,Snow Depth 1936,NaN,"43.737324°, -116.122612°",43.737324,-116.122612,6071.29,0.73,NaN,2/4/2022 2:45 PM,NaN,SnowEx2
6345,6463,100,Snow Depth 1935,NaN,"43.737322°, -116.122619°",43.737322,-116.122619,6074.03,0.60,NaN,2/4/2022 2:43 PM,NaN,SnowEx2
6346,6464,100,Snow Depth 1945,NaN,"43.747420°, -116.110559°",43.747420,-116.110559,6272.08,0.72,NaN,3/4/2022 1:26 PM,NaN,SnowEx2
6347,6465,107,Snow Depth 1934,NaN,"43.737311°, -116.122642°",43.737311,-116.122642,6072.15,0.60,NaN,2/4/2022 2:43 PM,NaN,SnowEx2
6348,6466,599,Snow Depth 1904,NaN,"43.679248°, -116.271059°",43.679248,-116.271059,2678.55,1.94,NaN,1/27/2022 8:19 PM,NaN,SnowEx2

# Change to cryotoolbox

In [8]:
os.chdir('..')
os.chdir('..')
os.chdir('CryoToolbox/Reports')
!ls

IDBRBM020521seis.xlsx  IDBRBO022421.xlsx  IDBRBT031621.xlsx
IDBRBM020521.xlsx      IDBRBO030321.xlsx  IDBRLO012721.xlsx
IDBRBO020421.xlsx      IDBRBO031021.xlsx  SnowSeisStan012621.xlsx
IDBRBO021021.xlsx      IDBRBO031721.xlsx  Test.xlsx
IDBRBO021821.xlsx      IDBRBO032221.xlsx

# put toolbox data in frame

In [9]:
path = os.getcwd()
csv_files = glob.glob(os.path.join(path, "*.xlsx"))
df2 = pd.DataFrame()

# loop over the list of csv files
for f in csv_files:

    # read using pandas
    ds = pd.read_excel(f)
    
    # create label for where it came from
    ds['Source'] = 'CryoToolbox'

    # append to new dataframe 
    df2 = df2.append(ds, ignore_index = True)


# check
display(df2)
df2.dtypes
type(df2['Description'][59])

,Name,Description,Attachment,Location,Latitude,Longitude,Altitude (ft),Accuracy (ft),Date/Time,User,Source
0,Depth 9,136,NaN,"44.392342°, -115.174664°",44.392342,-115.174664,6569.67,NaN,2/5/2021 3:12 PM,NaN,CryoToolbox
1,Depth 8,135,NaN,"44.392362°, -115.174647°",44.392362,-115.174647,6570.15,NaN,2/5/2021 3:11 PM,NaN,CryoToolbox
2,Depth 7,138,NaN,"44.392386°, -115.174626°",44.392386,-115.174626,6570.41,NaN,2/5/2021 3:11 PM,NaN,CryoToolbox
3,Depth 6,135,NaN,"44.392410°, -115.174604°",44.392410,-115.174604,6570.93,NaN,2/5/2021 3:10 PM,NaN,CryoToolbox
4,Depth 5,137,NaN,"44.392439°, -115.174579°",44.392439,-115.174579,6569.31,NaN,2/5/2021 3:09 PM,NaN,CryoToolbox
...,...,...,...,...,...,...,...,...,...,...,...
1023,Depth 3,91,NaN,"44.392586°, -115.174456°",44.392586,-115.174456,6565.15,NaN,1/26/2021 2:43 PM,NaN,CryoToolbox
1024,Depth 2,100,NaN,"44.392624°, -115.174427°",44.392624,-115.174427,6564.98,NaN,1/26/2021 2:42 PM,NaN,CryoToolbox
1025,Depth 1,81,NaN,"44.392657°, -115.174399°",44.392657,-115.174399,6566.58,NaN,1/26/2021 2:41 PM,NaN,CryoToolbox
1026,Depth 2,145,NaN,"43.570456°, -116.168831°",43.570456,-116.168831,2758.41,NaN,1/25/2021 10:19 PM,NaN,CryoToolbox
1027,Depth 1,25,NaN,"43.570456°, -116.168833°",43.570456,-116.168833,2760.23,NaN,1/25/2021 10:19 PM,NaN,CryoToolbox

str

# Troubleshoot the ',' problem

In [10]:
import numpy as np
dfnew = pd.DataFrame()
dfnew['Description'] = df2['Description']

dfnew['Depth'] = np.nan
dfnew['Mass'] = np.nan

for i in range(len(dfnew['Description'])):

  # if the object is an interger
  if type(dfnew['Description'][i]) == int:
    # Enter it as a depth
    dfnew['Depth'][i] = dfnew['Description'][i]
    dfnew['Description'][i] = np.nan
    # print('isnan')

  # If the object is a string: 
  elif type(dfnew['Description'][i]) != int:

    # isolate that into a single variable
    string = dfnew['Description'][i] 
    
    try: # try to split the string by the comma
      [v1 , v2] = string.split(',') # separate the two by the comma
      dfnew['Depth'][i] = int(v1) # enter v1 as a depth
      # enter the first 4 characters of the string as a density 
      dfnew['Mass'][i] = int(v2[0:4]) 
      dfnew['Description'][i] = v2[-1:5]

    except: # if the string can't be split
      dfnew['Depth'][i] = int(string) # enter v1 as a depth
      dfnew['Mass'][i] = 'NaN'
      dfnew['Description'][i] = np.nan

# alter the df2 with the new data
df2['Depth'] = dfnew['Depth']
df2['Mass'] = dfnew['Mass']
df2.sample(10)


# append to new dataframe 
df['Mass'] = np.nan
df = df.append(df2, ignore_index = True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

# Create geopandas dataframe

In [11]:
# Convert the dataframe
gdf = gpd.GeoDataFrame(df, 
                       geometry=gpd.points_from_xy(df.Longitude, df.Latitude),
                       )

# set the order of the columns
gdf = gdf [['Source' , 'Name' , 'Depth' , 'Altitude (ft)' , 'Accuracy (ft)' , 'Date/Time',
           'Latitude' , 'Longitude' , 'Location' , 'geometry' , 'Description' , 'User' , 'Attachment'	]]

# set the crs
gdf = gdf.set_crs(4326, allow_override=True)
display(gdf)
print(gdf.crs)

,Source,Name,Depth,Altitude (ft),Accuracy (ft),Date/Time,Latitude,Longitude,Location,geometry,Description,User,Attachment
0,SnowEx1,Snow Depth 3166,136.0,7094.67,NaN,3/18/2021 3:11 PM,44.304410,-115.236476,"44.304410°, -115.236476°",POINT (-115.23648 44.30441),NaN,NaN,NaN
1,SnowEx1,Snow Depth 3165,130.0,7093.28,NaN,3/18/2021 3:10 PM,44.304328,-115.236566,"44.304328°, -115.236566°",POINT (-115.23657 44.30433),NaN,NaN,NaN
2,SnowEx1,Snow Depth 3164,130.0,7089.20,NaN,3/18/2021 3:09 PM,44.304064,-115.236652,"44.304064°, -115.236652°",POINT (-115.23665 44.30406),NaN,NaN,NaN
3,SnowEx1,Snow Depth 3163,148.0,7086.51,NaN,3/18/2021 3:08 PM,44.303959,-115.236645,"44.303959°, -115.236645°",POINT (-115.23665 44.30396),NaN,NaN,NaN
4,SnowEx1,Snow Depth 3162,152.0,7088.60,NaN,3/18/2021 3:07 PM,44.303661,-115.236575,"44.303661°, -115.236575°",POINT (-115.23658 44.30366),NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7372,CryoToolbox,Depth 3,91.0,6565.15,NaN,1/26/2021 2:43 PM,44.392586,-115.174456,"44.392586°, -115.174456°",POINT (-115.17446 44.39259),91,NaN,NaN
7373,CryoToolbox,Depth 2,100.0,6564.98,NaN,1/26/2021 2:42 PM,44.392624,-115.174427,"44.392624°, -115.174427°",POINT (-115.17443 44.39262),100,NaN,NaN
7374,CryoToolbox,Depth 1,81.0,6566.58,NaN,1/26/2021 2:41 PM,44.392657,-115.174399,"44.392657°, -115.174399°",POINT (-115.17440 44.39266),81,NaN,NaN
7375,CryoToolbox,Depth 2,145.0,2758.41,NaN,1/25/2021 10:19 PM,43.570456,-116.168831,"43.570456°, -116.168831°",POINT (-116.16883 43.57046),145,NaN,NaN
7376,CryoToolbox,Depth 1,25.0,2760.23,NaN,1/25/2021 10:19 PM,43.570456,-116.168833,"43.570456°, -116.168833°",POINT (-116.16883 43.57046),25,NaN,NaN

epsg:4326

# Save as new dataframe

In [12]:
os.chdir('..')
os.chdir('..')
os.chdir('..')
os.chdir('..')
os.chdir('..')
os.chdir('MyDrive/Fa_22/Snow_Probe_Data/Mesa_Data')
!ls

gdf.to_file('Mesa_Snow_Heights.geojson' , driver = 'GeoJSON')

Mesa_Snow_Heights.geojson