<a href="https://colab.research.google.com/github/mcreelma/Snow_Probes/blob/main/Mesa_Dump_Reader.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import Packages

In [ ]:
# ! pip install geopandas
import geopandas as gpd
import glob
from google.colab import drive
import matplotlib.pyplot as plt
import os
import pandas as pd

# Mount Drive

In [ ]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Go to the specific file location

In [ ]:
# os.chdir('drive/MyDrive/MESA2_DUMP_20221015/SnowEx1/Reports/')
!ls

 Banner20jan2021.xlsx  'Bull 20200219.xlsx'	   MoresCrk.xlsx
 Banner27feb2020.xlsx  'Bull trout 2192020.xlsx'   TreelineB20220128.xlsx
 Bogus20200220.xlsx     GM20.xlsx
 Bogus.xlsx	        Ldp21feb2020.xlsx

# Read all .xlsx files

In [ ]:
path = os.getcwd()
csv_files = glob.glob(os.path.join(path, "*.xlsx"))
df = pd.DataFrame()
# loop over the list of csv files
for f in csv_files:
    # read using pandas
    ds = pd.read_excel(f)
    
    # create label for where it came from
    ds['Source'] = 'SnowEx1'

    # append to new dataframe 
    df = df.append(ds, ignore_index = True)


# check
display(df)

,Depth,Name,Description,Location,Latitude,Longitude,Altitude (ft),Accuracy (ft),Attachment,Date/Time,User,Source
0,136,Snow Depth 3166,NaN,"44.304410°, -115.236476°",44.304410,-115.236476,7094.67,NaN,NaN,3/18/2021 3:11 PM,NaN,SnowEx1
1,130,Snow Depth 3165,NaN,"44.304328°, -115.236566°",44.304328,-115.236566,7093.28,NaN,NaN,3/18/2021 3:10 PM,NaN,SnowEx1
2,130,Snow Depth 3164,NaN,"44.304064°, -115.236652°",44.304064,-115.236652,7089.20,NaN,NaN,3/18/2021 3:09 PM,NaN,SnowEx1
3,148,Snow Depth 3163,NaN,"44.303959°, -115.236645°",44.303959,-115.236645,7086.51,NaN,NaN,3/18/2021 3:08 PM,NaN,SnowEx1
4,152,Snow Depth 3162,NaN,"44.303661°, -115.236575°",44.303661,-115.236575,7088.60,NaN,NaN,3/18/2021 3:07 PM,NaN,SnowEx1
...,...,...,...,...,...,...,...,...,...,...,...,...
4237,45,Snow Depth 3130,NaN,"43.731056°, -116.139570°",43.731056,-116.139570,5342.53,NaN,NaN,1/28/2022 2:37 PM,NaN,SnowEx1
4238,49,Snow Depth 3129,NaN,"43.731100°, -116.139537°",43.731100,-116.139537,5343.47,NaN,NaN,1/28/2022 2:36 PM,NaN,SnowEx1
4239,42,Snow Depth 3128,NaN,"43.731148°, -116.139558°",43.731148,-116.139558,5344.17,NaN,NaN,1/28/2022 2:32 PM,NaN,SnowEx1
4240,599,Snow Depth 3127,NaN,"43.679280°, -116.271058°",43.679280,-116.271058,2683.35,NaN,NaN,1/27/2022 8:33 PM,NaN,SnowEx1
4241,599,Snow Depth 3126,NaN,"43.679257°, -116.271046°",43.679257,-116.271046,2678.42,NaN,NaN,1/27/2022 8:20 PM,NaN,SnowEx1

# Change the directory to the second snowex file

In [ ]:
# os.chdir('..')
# os.chdir('..')
os.chdir('SnowEx2/Reports')
!ls

Bogus.Drycreek.xlsx  BullTrout2.xlsx  Mcs17feb.kml  Mcs17feb.xlsx
Bogus.xlsx	     GM2020.xlsx      Mcs17feb.pdf  Treeline20220128.xlsx

# Repeat for SnowEx2

In [ ]:
path = os.getcwd()
csv_files = glob.glob(os.path.join(path, "*.xlsx"))
df2 = pd.DataFrame()
# loop over the list of csv files
for f in csv_files:
    # read using pandas
    ds = pd.read_excel(f)
    
    # create label for where it came from
    ds['Source'] = 'SnowEx2'

    # append to new dataframe 
    df = df.append(ds, ignore_index = True)


# check
display(df)

ValueError: ignored

# Change to cryotoolbox

In [ ]:
os.chdir('..')
os.chdir('..')
os.chdir('CryoToolbox/Reports')
!ls

IDBRBM020521seis.xlsx  IDBRBO022421.xlsx  IDBRBT031621.xlsx
IDBRBM020521.xlsx      IDBRBO030321.xlsx  IDBRLO012721.xlsx
IDBRBO020421.xlsx      IDBRBO031021.xlsx  SnowSeisStan012621.xlsx
IDBRBO021021.xlsx      IDBRBO031721.xlsx  Test.xlsx
IDBRBO021821.xlsx      IDBRBO032221.xlsx

# put toolbox data in frame

In [ ]:
#################### Skipping for now because the IDBRBO files have densities and descriptions in the same line as the depths
#################### Also the depths are in the description and not a depth column. we will fix these later


# path = os.getcwd()
# csv_files = glob.glob(os.path.join(path, "IDBRBM*.xlsx"))
# df2 = pd.DataFrame()
# # loop over the list of csv files
# for f in csv_files:
#     print(f)
#     # # read using pandas
#     # ds = pd.read_excel(f)
    
#     # # create label for where it came from
#     # ds['Source'] = 'CryoToolbox'

#     # # append to new dataframe 
#     # df2 = df2.append(ds, ignore_index = True)


# # check
# display(df2)

/content/drive/.shortcut-targets-by-id/1A6CVy4V1V8F3ia_48y7TH6iadFXEXN8Y/MESA2_DUMP_20221015/CryoToolbox/Reports/IDBRBM020521.xlsx
/content/drive/.shortcut-targets-by-id/1A6CVy4V1V8F3ia_48y7TH6iadFXEXN8Y/MESA2_DUMP_20221015/CryoToolbox/Reports/IDBRBM020521seis.xlsx

Empty DataFrame
Columns: []
Index: []

# Create geopandas dataframe

In [ ]:
# Convert the dataframe
gdf = gpd.GeoDataFrame(df, geometry=gpd.points_from_xy(df.Longitude, df.Latitude))

# set the order of the columns
gdf = gdf [['Source' , 'Name' , 'Depth' , 'Altitude (ft)' , 'Accuracy (ft)' , 'Date/Time',
           'Latitude' , 'Longitude' , 'Location' , 'geometry' , 'Description' , 'User' , 'Attachment'	]]

# set the crs
gdf = gdf.set_crs(4326, allow_override=True)
display(gdf)
print(gdf.crs)

,Source,Name,Depth,Altitude (ft),Accuracy (ft),Date/Time,Latitude,Longitude,Location,geometry,Description,User,Attachment
0,SnowEx1,Snow Depth 3166,136,7094.67,NaN,3/18/2021 3:11 PM,44.304410,-115.236476,"44.304410°, -115.236476°",POINT (-115.23648 44.30441),NaN,NaN,NaN
1,SnowEx1,Snow Depth 3165,130,7093.28,NaN,3/18/2021 3:10 PM,44.304328,-115.236566,"44.304328°, -115.236566°",POINT (-115.23657 44.30433),NaN,NaN,NaN
2,SnowEx1,Snow Depth 3164,130,7089.20,NaN,3/18/2021 3:09 PM,44.304064,-115.236652,"44.304064°, -115.236652°",POINT (-115.23665 44.30406),NaN,NaN,NaN
3,SnowEx1,Snow Depth 3163,148,7086.51,NaN,3/18/2021 3:08 PM,44.303959,-115.236645,"44.303959°, -115.236645°",POINT (-115.23665 44.30396),NaN,NaN,NaN
4,SnowEx1,Snow Depth 3162,152,7088.60,NaN,3/18/2021 3:07 PM,44.303661,-115.236575,"44.303661°, -115.236575°",POINT (-115.23658 44.30366),NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6462,SnowEx2,Snow Depth 1936,95,6071.29,0.73,2/4/2022 2:45 PM,43.737324,-116.122612,"43.737324°, -116.122612°",POINT (-116.12261 43.73732),NaN,NaN,NaN
6463,SnowEx2,Snow Depth 1935,100,6074.03,0.60,2/4/2022 2:43 PM,43.737322,-116.122619,"43.737322°, -116.122619°",POINT (-116.12262 43.73732),NaN,NaN,NaN
6464,SnowEx2,Snow Depth 1945,100,6272.08,0.72,3/4/2022 1:26 PM,43.747420,-116.110559,"43.747420°, -116.110559°",POINT (-116.11056 43.74742),NaN,NaN,NaN
6465,SnowEx2,Snow Depth 1934,107,6072.15,0.60,2/4/2022 2:43 PM,43.737311,-116.122642,"43.737311°, -116.122642°",POINT (-116.12264 43.73731),NaN,NaN,NaN
6466,SnowEx2,Snow Depth 1904,599,2678.55,1.94,1/27/2022 8:19 PM,43.679248,-116.271059,"43.679248°, -116.271059°",POINT (-116.27106 43.67925),NaN,NaN,NaN

epsg:4326

# Save as new dataframe

In [ ]:
# os.chdir('..')
# os.chdir('Mesa_Data/')
# os.mkdir('Mesa_Data/')

# gdf = gdf.copy()

gdf.to_file('Mesa_Snow_Heights.geojson' , driver = 'GeoJSON')
!ls
# with open('Mesa_Snow_Heights.geojson', 'w') as f:
#     f.write(gdf.to_json())

Mesa_Snow_Heights.geojson